mule-web-api-baotdn2/src/main/mule/implementations/delete-product-in-storage.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="delete:\product:mule-product-api-config">
		<logger level="INFO" doc:name="Start Log" doc:id="8c277f74-91f8-4e94-b74e-bfd714fe60a8" message='Transaction ID: #[vars.transactionId], Message: "Start deleting product flow"' />
		<validation:is-not-null doc:name="Validate productCode" doc:id="cf9bf996-8410-45b3-9294-ca48c532bbcb" value="#[attributes.queryParams.productCode]" message="#[&quot;The query parameter 'productCode' is required.&quot;]" />
		<ee:transform doc:name="Set Input Query Parameter Variable" doc:id="9323ca67-cb59-4687-81bc-5e77540ce8e5">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="productCode"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.productCode as String]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="1506953e-e561-4077-923c-ecc1a8b1d3a5" name="delete-product-single-input" />
		<choice doc:name="Choice" doc:id="65823cab-4ed1-4b1f-a41b-d5eaa297e95e" >
			<when expression="#[payload != 0]" >
				<ee:transform doc:name="Success Response" doc:id="7eea68ef-3555-41a8-85f9-f3e1ac2d37ab">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"Product Deleted Successfully!"]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="httpStatus"><![CDATA[200]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Not Found Response" doc:id="2c2f29f3-7e3b-4298-8ee5-e53acca41e42" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Cannot find orderNo: " ++ vars.productCode ++ " in database."]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="End Log" doc:id="e83757aa-e948-4233-94fe-1af4a26bffa6" message='Message: "Completed deleting product flow"' />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="c3700e26-85c5-4aab-9157-fbfee9f52fc5" type="VALIDATION:NULL">
				<ee:transform doc:name="Error Response" doc:id="bf1fa99b-dbc2-4f32-8af3-d06490e01df6" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"code": 400,
	"message": "Bad Request",
	"description": error.description,
	"dateTime": now() as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"},
	"transactionId": vars.transactionId
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-continue>
		</error-handler>

    </flow>
	</mule>
