mule-web-api-sales/src/main/mule/implementations/order-delete.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="delete:\orders:mule-sales-sapi-config">
		<logger level="INFO" doc:name="Start Log" doc:id="9b6c2a90-efc1-4b54-8e36-b8b2ff9844d6" message='Transaction ID: #[vars.transactionId], Message: "Start deleting sale order flow"' />
		<ee:transform doc:name="Set Input Query Param Variables" doc:id="4fc692b2-3334-4ec7-9ab5-e0fbad7edcf2" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="orderNo" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.orderNo]]></ee:set-variable>
				<ee:set-variable variableName="orderDate" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.orderDate]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="6507e6eb-47fe-464e-baca-b96b083e7400" name="delete-order-db" />
		<choice doc:name="Choice" doc:id="c3e7c4b0-2663-48ff-a210-d6d683727231" >
			<when expression="#[payload != 0]">
				<ee:transform doc:name="Success Response" doc:id="52052c91-6070-4c6b-af1d-029fbdfbf298">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	OrderNo: vars.orderNo,
	OrderDate: vars.orderDate,
	Message: "Deleted Sale Order Successfully"
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="httpStatus"><![CDATA[200]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Not Found Response" doc:id="5470de7d-78e5-4450-90ca-59e315b480b6" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Cannot find orderNo: " ++ vars.orderNo ++ " or orderDate: " ++ vars.orderDate ++ " in database."]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="End Log" doc:id="a35d3e66-0208-40b0-9a75-f5fd57481925" message='Message: "Completed deleting sale order flow"' />

    </flow>
	
</mule>
